header{
    text-align: center;
}
body{
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}
.link{
    color: #de4c38;
}
.link:hover {
    color: #fdbb2d;
}
.link:visited{
    color: #b9e541;
}
.link:visited:hover{
    color: #44570d;
}
.button{
    background: none;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.3s;
}
.button:hover{
    background-color: black;
    color: white;
}
.nav-button{
    background: none;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.3s;
}
.nav-button:hover{
    background: none;
    color: black;
    text-decoration: line-through;
}
nav{
    padding-top: -10%;
    text-align: center;
}
.row{
    display: flex;
}
.col{
    flex: 1;
}
.small{
    max-width: 100%;
    height: auto;
}
.display{
    max-width: 30%;
    height: auto;
}
ul{
    list-style-type: square;
}
#banner{
    float: left;
}