.header{
    color:white;
    background-color: #003d7a;
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-family: sans-serif;
    
}
.navigation{
    list-style-type: none;
    background-color: #003d7a;
    color: white;
    display: inline;
    font-family: sans-serif;
}
.bannerleft{
    float: left;
    padding-left: 20px;
    width: 150px;
}
.bannerright{
    float: right;
    padding-right: 20px;
    width: 150px;
    padding-left: 20px;
}
.slap{
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}
.headtwo{
    color:#003d7a;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;

}
.communityguidelines{
    padding-top: 20px;
    padding-left: 200px;
}
.content{
    color: #003d7a;
    font-family: sans-serif;
    font-size: 25px;
    padding-right: 50px;
}
.guidelines{
    padding-left: 220px;
    padding-right: 130px;
    padding-bottom: 25px;
}
.footer{
    color: #003d7a;
    text-align: center;
}
.footernumber{
    color: #003d7a;
    text-align: right;
}
.button{
    background-color: none;
    border: none;
    color: #003d7a;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: #003d7a;
    color: white;
}
nav{
    padding-top: -10%;
    padding-bottom: 2%;
    /*background-color: blue;*/
    text-align: center;
}
