body{
  padding-left: 10%;
  padding-right: 10%;
  background: rgb(212, 156, 255);
  text-align: left;
}
nav{
  padding-top: -10%;
  /*background-color: blue;*/
  text-align: center;
}
.button{
  background-color: rgb(212, 156, 255);
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.button:hover{
  background-color: blue;
  color: white;
}