body{
    padding-left: 10%;
    padding-right: 10%;
    background: rgb(167, 255, 196);
    text-align: left;
}
nav{
    padding-top: -10%;
    text-align: center;
    color: white;
}
h1{
    text-align: center;
}