body{
    padding-left: 10%;
    padding-right: 10%;
    background: #22c1c3;
    background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
    text-align: left;
    font-family: fantasy;
    cursor: url("natty/cursor.cur"), default; /*http://www.rw-designer.com/cursor-detail/174787*/
}
a{
    cursor: url("natty/cursorClick.cur"), default;
}
a:hover {
    color: #fdbb2d;
}
.button{
    background-color: none;
    border: none;
    color: #22c1c3;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: url("natty/cursorClick.cur"), default;
}
.button:hover{
    background-color: #22c1c3;
    color: #fdbb2d;
}
.email-button{
    background-color: none;
    border: none;
    color: #fdbb2d;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: url("natty/cursorClick.cur"), default;
}
.email-button:hover{
    background-color: #fdbb2d;
    color: #22c1c3;
}
.simple-button{
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
}
.simple-button:hover{
    background-color: black;
    color: white;
}
.simple-button:hover{
    background-color: black;
    color: white;
}
.simple-gradient-button{
    background: none;
    border: none;
    color: #22c1c3;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
}
.simple-gradient-button:hover{
    background-color: #22c1c3;
    color: #fdbb2d;
}
nav{
    padding-top: -10%;
    /*background-color: blue;*/
    text-align: center;
}
.row{
    display: flex;
}
.col{
    flex: 1;
}
.col h3{
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    background-color: blue;
}
.small{
    max-width: 100%;
    height: auto;
}
.display{
    max-width: 30%;
    height: auto;
}
ul{
    list-style-type: square;
  }